Body {
    background-color: lightgray;
}

.card {
    display: wrap;
    margin: 0 auto;
    border: 5px solid purple;
    border-radius: 20px;
  }
  

/* right now this is for the header weather dashboard */
h1 {
    display: flex;
    justify-content: center;
    background-color: blue;
    padding: 20px;
}

h2 {
 
}

h3 {
   
}

/* this is my search bar */
#form {
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    width: 10px;
}

/* This is my search bar button */
button {
    flex-wrap: wrap;
    background-color: lightblue;
    margin: 10px;
    width: 250px;
    border-radius: 5px;
}

/* This is my red line under the button */
.line {
    border: 1px solid red;
    width: 250px;
}

/* Making the search container decent sizes  */
.container {
    display: flex;
    border: 5px solid purple;
    flex-direction: column;
    border-radius: 20px;
    padding-right: 20px;
}
.container1 {
  
    
}

#search-container {
    margin: 2px;
   
}

#searchResults {
    margin-top: 20px;
}

#colorform {
   border: solid red 1px;
}

#id {
    display: flex;
}